# my aliases

alias ~="cd ~"
alias ~="cd ~"
alias ..="cd .."


alias e="echo"

alias ll="ls -lhp"
alias la="ls -a"

# List only directories
alias ld='ll | grep "^d"'


alias grep="grep --color=auto"

alias firefox="open -a Firefox"
alias safari="open -a Safari"
alias chrome="open -a Google\ Chrome"
alias vi="vim"
#alias vi='env LANG=ja_JP.UTF-8 /Applications/MacVim.app/Contents/MacOS/Vim "$@"'
alias cot='open $1 -a /Applications/CotEditor.app'


alias rm='rmtrash'
alias cp='cp -i'
alias mv='mv -i'
alias diff='colordiff -u'
alias dw='colordiff -u --strip-trailing-cr'
alias pwd='pwd -P'

alias apachectl='sudo apachectl'
alias bye='sudo shutdown -h now'

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# generate password (installed via homebrew) 
alias pwgen="pwgen -1"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

alias f="find . -type f -print | grep $1"
alias tree="tree -a"

# git 
alias tig="tig --all"

# for github utility "hub", from homebrew
eval "$(hub alias -s)"

# workspace shortcut
alias ws='cd $(ghq list -p | peco)'


alias ajax="curl --header \"X-Requested-With: XMLHttpRequest\""
