[include]
	path = .gitconfig.local

[user]
	name = qube81
	email = yuta.tkhs@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	quotepath = false
	editor = vim
	pager = less -r
	precomposeunicode = true
[alias]
	ad = add -A .
	co = checkout
	ci = commit
	st = status --short --branch --untracked-files=all
	br = branch -v -v
	re = remote -v
	lo = log --decorate --abbrev-commit --date=short --oneline
	mnff = merge --no-ff

	hist = log --oneline --decorate --graph --branches --tags
	tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'

	ds = diff --staged
	dw = diff -w
	dword = diff --word-diff

	dn = diff --stat=120
        dna = diff --stat --diff-filter=A --stat=120
        dnm = diff --stat --diff-filter=M --stat=120
        dnd = diff --stat --diff-filter=D --stat=120
            dnam = diff --stat --diff-filter=AM --stat=120


	d1 = diff HEAD~
	dn1 = diff --stat HEAD~

	stage = add -A
	unstage = reset HEAD --

	ta = for-each-ref --sort=taggerdate refs/tags --format '%(refname)     %(subject)'
	nw = browse -- network

[merge]
	ff = false
[branch]
        autosetuprebase = always
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[rebase]
	autosquash = true
[pull]
	ff = only
	rebase = true
	prune = true
[ghq]
        root = ~/ghq
        root = ~/go/src
[fetch]
	prune = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[url "git@github.com:"]
    insteadOf = https://github.com/

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
