[include]
	path = .gitconfig.local

[user]
	name = qube81
	email = qube81+github@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/ytakahashi/git-etc/.gitignore
	quotepath = false
	editor = vim
	pager = less -r
	precomposeunicode = true
[alias]
	ad = add -A
	co = checkout
	ci = commit
	st = status --short --branch
	br = branch -v -v
	lo = log --decorate --abbrev-commit --date=short --oneline
	mnff = merge --no-ff
		
	hist = log --oneline --decorate --graph --branches --tags
	tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'	
		
	ds = diff --staged
	dw = diff -w
	dn = diff --stat
		dna = diff --stat --diff-filter=A
		dnm = diff --stat --diff-filter=M
		dnd = diff --stat --diff-filter=D
			dnam = diff --stat --diff-filter=AM

	stage = add -A
	unstage = reset HEAD --

	ta = for-each-ref --sort=taggerdate refs/tags --format '%(refname)     %(subject)'
	d1 = diff HEAD~
	dn1 = diff --stat HEAD~

[push]
	default = simple

[merge]
	ff = false

[branch]
        autosetuprebase = always

[pull]
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -- \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
